body
{
    background-color: black !important;
}

body::after
{
    content: "";
    background: url(img/background.jpg);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
h2
{
    height: 100px;
}

.header_size
{
    height: 50px;
}
.header_text
{
    line-height: 50px;
    color: #20C20E;
}

.illustrate
{
    color: #20C20E;
    width: 100%;
    height: 30px;
    text-align: left;
}

.box
{
    margin-bottom: 10px;
    padding: 20px !important;
    border-radius: solid #20C20E 2px;
}

.card_border
{
    border: solid #20C20E 2px !important;
}

.box_size1
{
    height: 290px;   
}

.box_size2
{
    height: 140px;
}

.box_title
{
    padding: 0 !important;
    background-color: #20C20E !important;
}

.box_content
{
    background-color: black;
    color: aliceblue;
}

.submit_button
{
    background-color: black !important;
    border: solid #20C20E 1px !important;
    color: #20C20E !important ;
}

.inside_text
{
    text-align: left;
    color: #20C20E;
    background-color:black; 
}

.icon_align
{
    float: right;
}

.fa_fa-search {
	border-radius: 8px;
	border:1px solid #20C20E;
	text-align: center;
	color: #20C20E;
	text-align: center;
    background-color: black;
}

#search {
	border-radius: 8px;
	border:1px solid #20C20E;
	text-align: center;
	background-color: black;
    color: #20C20E;    
}

.access_denied_text
{
    color: red;
    border: solid 2px red;
    font-size: 55px;
    height: 100px;
    line-height: 100px;
    
}

.computer_icon
{
    color: green;
    margin-top: 7px;
}

.computer_icon3
{
    color: red;
}

.computer_icon_align
{
    border: solid 2px #20C20E;
    height: 100%;
    width: 40%;
}

.computer_icon_text
{
    color: #20C20E;
    margin-top: 17px;
    border: solid 1px #20C20E;
    margin-left: 5px;
    margin-right: 5px;
}

.arp_btn
{
    background-color: #20C20E;
    color: black;
    border-radius: 2px;
    border: solid 2px #20C20E;
    margin-top: 18px;
}

.card_box_height
{
    height: 100%;
}

#box1
{
     display: inline-block;
     float: left;
}

#box2 
{
    display: inline-block;
    border: solid 2px #20C20E;
    width: 55%;
    height: 120px;
    float: right;
}

.computer_icon2
{
    float: left;
    margin-left: 7px;
    margin-top: 15px;
}

.computer_icon_text2
{
    color: #20C20E;   
    margin-top: 20px;
}

.computer_icon_text3
{
    color: red;
}

#box3
{
    display: inline-block;
    border: solid 2px red;
    width: 55%;
    height: 120px;
    float: right;
    margin-top: 10px;
}

.pass_display_key
{
    display: inline-block !important;
    color: #20C20E;
}

.pass_display
{
    display: inline-block !important;
    color: #20C20E;
    width: 75px;
    margin-left: 15px;
    margin-right: 15px;
    height: 125px;
}


.keyslot
{
    float: right;

}

#key
{
    float: left;
    margin-top: 60px;
}

.slot
{
    height: 50px;
}

#passbox
{
    margin-top: 170px;
    color: #20C20E;
    margin-right: 135px;
}

#password_box
{   
    padding-right: 25px;
    height: 50px; 
    display: inline;

}

.passlot
{
    display: inline;
}
.crtpasslot
{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: solid 2px #20C20E;
}

#col1
{
    display: inline-block;
    color: #20C20E;
    margin: 20px;
}
